.intro-alunos {
  h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #212529;
    margin-top: 72px;
  }

  h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 32px;
    text-align: center;
    color: #343A40;
    margin-top: 2.4rem;
  }
}