.s-banner {
  background-image: url(../img/bg-banner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 66.4rem;
  margin-bottom: 12.8rem;

  .container {
    display: flex;
    align-items: center;
    column-gap: 12.1rem;
  }

  .left-banner {
    width: 100%;
    max-width: 55.8rem;
    max-height: 60rem;
  }
}

@media (max-width: 1000px){
  .s-banner {

  .container {
  }

  .left-banner {
    width: 100%;
    max-width: 45.8rem;
    max-height: 60rem;
  }
}
}

@media (max-width: 870px){
  .s-banner {
    height: auto;
    padding-bottom: 5rem;

  .container {
    display: grid;
    justify-content: center;
  }

  .left-banner {
    width: 100%;
    max-width: 100%;
    max-height: auto;
    margin-bottom: 4rem;
    img{
      width: 100%;
    }
  }
}
}