:root {
  --prymary-100: #D7ECFA;
  --prymary-200: #C1E2F7;
  --prymary-300: #AAD6F2;
  --prymary-400: #9CCFF0;
  --prymary-500: #89BFE2;
  --prymary-600: #66A4CC;
  --prymary-700: #4788B2;
  --prymary-800: #2F76A5;
  --prymary-900: #2A5D91;
  --prymary-banding: #1D406D;
  --white: #ffffff;
  --gray-100: #F8F9FA;
  --gray-200: #E9ECEF;
  --gray-300: #DEE2E6;
  --gray-400: #CED4DA;
  --gray-500: #ADB5BD;
  --gray-600: #6C757D;
  --gray-700: #495057;
  --gray-800: #343A40;
  --gray-900: #212529;
  --secondary: #5F4CBF;
  --alert: #F65555;
}