.s-footer {
  background-color: var(--prymary-banding);
  padding: 6rem 0;

  .content {
    display: flex;
    justify-content: space-between;

    a.footer-button {
      font-size: 1.4rem;
      color: var(--white);
      display: flex;
      align-items: center;
      font-size: 1.6rem;
      padding: 1rem;
      border: 1px solid var(--white);
      gap: 1rem;
    }

    h5 {
      font-size: 1.4rem;
      text-transform: uppercase;
      color: var(--prymary-700);
      margin-bottom: 2rem;
    }

    ul {
      li {
        color: var(--white);
        font-size: 1.4rem;
        text-transform: uppercase;
        font-family: "halcom";
        padding-bottom: 1.5rem;
      }
    }
  }

  .copy {
    border-top: 1px solid var(--prymary-900);
    padding-top: 2rem;
    margin-top: 4rem;
    color: var(--white);

    p {
      font-size: 1.2rem;
      padding-bottom: 1rem;
    }
  }
}