* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  font-size: 16px;
  font-size: 62.5%;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --prymary-100: #D7ECFA;
  --prymary-200: #C1E2F7;
  --prymary-300: #AAD6F2;
  --prymary-400: #9CCFF0;
  --prymary-500: #89BFE2;
  --prymary-600: #66A4CC;
  --prymary-700: #4788B2;
  --prymary-800: #2F76A5;
  --prymary-900: #2A5D91;
  --prymary-banding: #1D406D;
  --white: #ffffff;
  --gray-100: #F8F9FA;
  --gray-200: #E9ECEF;
  --gray-300: #DEE2E6;
  --gray-400: #CED4DA;
  --gray-500: #ADB5BD;
  --gray-600: #6C757D;
  --gray-700: #495057;
  --gray-800: #343A40;
  --gray-900: #212529;
  --secondary: #5F4CBF;
  --alert: #F65555;
}

h1 {
  font-size: 8.1rem;
}

h2 {
  font-size: 6.3rem;
}

h3 {
  font-size: 5.4rem;
}

h4 {
  font-size: 4.5rem;
}

h5 {
  font-size: 3.6rem;
}

h6 {
  font-size: 2.7rem;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "proxima-nova";
}

p {
  font-size: 1.8rem;
  font-family: "halcom";
}

p.p-small {
  font-size: 1.4rem;
}

a {
  font-size: 1.8rem;
  font-weight: bold;
  font-family: "halcom";
}

.container-fluid {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
}

.title-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 2.3rem;
}

.title-header h2 {
  position: relative;
  font-size: 1.6rem;
  text-transform: uppercase;
  background-color: var(--prymary-800);
  color: var(--white);
  font-family: "halcom";
  padding: 10px;
}

.title-header h2::after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-right: 37px solid transparent;
  border-bottom: 37px solid var(--prymary-800);
  position: absolute;
  right: -37px;
  top: 0;
}

.title-header a {
  font-family: "halcom";
  font-size: 1.6rem;
  text-transform: uppercase;
  border-bottom: 2px solid var(--prymary-800);
  padding-bottom: 4px;
  color: var(--prymary-800);
}

.title-header .line {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 2px;
  width: 100%;
  background-color: var(--prymary-800);
}

.card-post {
  width: 100%;
  max-width: 316px;
  border: 4px solid transparent;
  -webkit-box-shadow: 0px 2px 2px rgba(73, 80, 87, 0.25);
          box-shadow: 0px 2px 2px rgba(73, 80, 87, 0.25);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.card-post .card-image {
  max-width: 316px;
  max-height: 148px;
  overflow: hidden;
}

.card-post .card-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.card-post .card-info {
  padding: 2rem;
  background-color: var(--white);
}

.card-post .card-info a span {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--prymary-800);
}

.card-post .card-info h6 {
  color: var(--gray-900);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.card-post .see {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.card-post .see a {
  color: var(--white);
  background-color: var(--prymary-800);
  text-transform: uppercase;
  font-size: 1.6rem;
  padding: 10px;
  position: relative;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.card-post .see a::before {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-left: 45px solid transparent;
  border-bottom: 39px solid var(--prymary-800);
  position: absolute;
  right: 102px;
  top: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.card-post:hover {
  border: 4px solid var(--prymary-400);
}

.card-post:hover .card-info h6 {
  color: var(--prymary-800);
}

.card-post:hover .see a {
  color: var(--prymary-800);
  background-color: var(--prymary-400);
}

.card-post:hover .see a::before {
  border-bottom: 39px solid var(--prymary-400);
}

header {
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  border-bottom: 1px solid #CED4DA;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2022;
}

header .main-menu {
  height: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .main-menu .logo {
  width: 100%;
  max-width: 302px;
  height: 56px;
}

header .main-menu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .main-menu .menu li {
  padding-left: 12px;
  border-right: 1px solid #CED4DA;
  padding-right: 12px;
}

header .main-menu .menu li a {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #212529;
}

header .main-menu .menu li a.active {
  padding-bottom: 8px;
  border-bottom: 2px solid var(--prymary-800);
  color: var(--prymary-800);
}

header .main-menu .menu li a:hover {
  padding-bottom: 8px;
  border-bottom: 2px solid var(--prymary-800);
  color: var(--prymary-800);
}

header .main-menu .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 72px;
  height: 48px;
}

.s-curso-prymary {
  background-image: url(../img/FotoCurso.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 544px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10rem;
  padding-left: 4rem;
  margin-bottom: 144px;
}

.s-curso-prymary .content {
  width: 100%;
  max-width: 505px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.s-curso-prymary .content h3 {
  text-transform: uppercase;
  color: var(--white);
  line-height: 1.2;
}

.s-curso-prymary .content p {
  color: var(--white);
  margin-bottom: 2rem;
}

.s-curso-prymary .content a {
  text-transform: uppercase;
  border: 1px solid var(--white);
  color: var(--white);
  padding: 15px 30px;
  display: inline-block;
  margin-top: 3rem;
}

.s-curso-prymary .content a:hover {
  border: 1px solid var(--prymary-200);
  background-color: var(--prymary-200);
  color: var(--prymary-800);
}

.s-banner {
  background-image: url(../img/bg-banner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 664px;
  margin-bottom: 128px;
}

.s-banner .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 121px;
          column-gap: 121px;
}

.s-banner .left-banner {
  width: 100%;
  max-width: 558px;
  max-height: 600px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.s-postlist {
  margin-bottom: 120px;
}

.s-footer {
  background-color: var(--prymary-banding);
  padding: 60px 0;
}

.s-footer .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.s-footer .content a.footer-button {
  font-size: 14px;
  color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  padding: 10px;
  border: 1px solid var(--white);
  gap: 10px;
}

.s-footer .content h5 {
  font-size: 14px;
  text-transform: uppercase;
  color: var(--prymary-700);
  margin-bottom: 2rem;
}

.s-footer .content ul li {
  color: var(--white);
  font-size: 14px;
  text-transform: uppercase;
  font-family: "halcom";
  padding-bottom: 1.5rem;
}

.s-footer .copy {
  border-top: 1px solid var(--prymary-900);
  padding-top: 2rem;
  margin-top: 4rem;
  color: var(--white);
}

.s-footer .copy p {
  font-size: 12px;
  padding-bottom: 1rem;
}

.curso-2 {
  background-image: url(../img/Masterclass.png);
}

.curso-3 {
  background-image: url(../img/fluencia.png);
}

.curso-4 {
  background-image: url(../img/primeiro-passo.png);
}

.curso {
  margin-bottom: 40px;
  margin-top: 7.2rem;
}

.curso-2,
.curso-3,
.curso-4 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 40px;
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px;
  margin-bottom: 54px;
}

.curso-2 .content,
.curso-3 .content,
.curso-4 .content {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.curso-2 .content h4,
.curso-3 .content h4,
.curso-4 .content h4 {
  font-style: normal;
  font-weight: 800;
  font-size: 54px;
  line-height: 66px;
  text-transform: uppercase;
  color: var(--white);
}

.curso-2 .content h5,
.curso-3 .content h5,
.curso-4 .content h5 {
  font-family: "proxima-nova";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
  color: var(--white);
}

.curso-2 .content p,
.curso-3 .content p,
.curso-4 .content p {
  color: var(--white);
  margin-bottom: 2rem;
}

.curso-2 .content a,
.curso-3 .content a,
.curso-4 .content a {
  text-transform: uppercase;
  border: 1px solid var(--white);
  color: var(--white);
  padding: 15px 30px;
  display: inline-block;
  margin-top: 2.4rem;
}

.curso-2 .content a:hover,
.curso-3 .content a:hover,
.curso-4 .content a:hover {
  border: 1px solid var(--prymary-200);
  background-color: var(--prymary-200);
  color: var(--prymary-800);
}
/*# sourceMappingURL=main.css.map */